body    {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: url("images/menubar/bas_footer.png") repeat;
    min-width: 1350px;
}

#background {
    width: 100%;
    height: 100%;
    background: #333333;
}

#menubar    {
    position: fixed;
    width: 100%;
    top: 0;
    height: 30px;
    background: url("/images/menubar/menubar.png") repeat-x;
    z-index: 45;
}

#menu   {
    position: absolute;
    height: 30px;
    top: 0;
    left: 0;
}

#menubar #menu ul   {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu_icon   {
    position: relative;
    float: left;
    width: 60px;
    height: 25px;
}

.separateur_menubar {
    float: left;
    height: 25px;
    width: 2px;
    background: url("/images/menubar/menubar_separateur.png") no-repeat;
}

#menubar #langue    {
    float: right;
    line-height: 25px;
    margin-right: 5px;
}

#langue a   {
    text-decoration: none;
}

#login  {
    float: right;
    color: #222;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.7em;
    text-align: right;
    margin-right: 20px;
    z-index: 150;
    position: relative;
    line-height: 23px;
}

.visible    {
    display: block;
}

#login div a    {
    color: #222;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#menubar #menu ul li a  {
    position: absolute;
    display: block;
    width: 60px;
    height: 25px;
}

#menubar #menu ul li a:hover    {
    box-shadow: inset 0 0 40px rgba(255, 255,255, 0.6);
}

#conteneur  {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background: url("images/background/background_conteneur.png") repeat;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    padding-bottom: 40px;
    box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.75), -4px 0 4px -4px rgba(0, 0, 0, 0.75);
    z-index: 2;
    transform: translateZ(0);
}

#logo   {
    position: relative;
    width: 100%;
    margin: auto 0;
    padding: 70px 0 34px;
    text-align: center;
}

.like   {
    text-align: center;
    font-weight: bold;
    color: #000;
    border: 3px solid;
    padding: 10px;
    width: 90%;
    margin: 0 auto 40px;
}

.place_for_ads_center   {
    position: relative;
    width: 920px;
    height: 108px;
    background: url("images/background/ruban_pub.png") no-repeat;
    left: -10px;
    text-align: center;
    line-height: 106px;
    margin-bottom: 20px;
    padding: 0 50px;
}

.list   {
    width: 954px;
    margin: 0 auto;
    font-size: 0.9em;
    font-weight: bold;
    min-height: 540px;
    overflow: hidden;
}

.conteneur_vignette {
    float: left;
    width: 150px;
    margin: 0 10px 7px 0;
    text-align: center;
    color: #222;
    font-variant: small-caps;
}

.conteneur_vignette:nth-child(6n) {
    margin-right: 0;
}

.vignette {
    width: 150px;
    height: 105px;
    border: 1px solid #222;
    margin-bottom: 3px;
}

.vignette:hover {
    box-shadow: inset 0 0 40px rgba(255, 255,255, 0.6);
}

.vignette a {
    display: block;
    width: 150px;
    height: 105px;
    margin-bottom: 4px;
}

#footer {
    width: 100%;
    height: 149px;
    background: url("images/background/background_footer.png") repeat;
    border-top: 1px solid #444;
    box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.75);
}

#contenu-footer {
    width: 950px;
    margin: 0 auto;
}

.footer {
    width: 200px;
    float: left;
}

.non-connect    {
    float: left;
    width: 150px;
}

#contenu-footer ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

#contenu-footer ul li a {
    font-size: 0.8em;
    color: #444;
    text-decoration: none;
}

.caption    {
    color: #222;
    font-family: "Franklin Gothic", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
}

#copyright  {
    color: #444;
    width: 380px;
    float: right;
    text-align: justify;
    font-size: 0.7em;
    margin-top: 8px;
    line-height: 14px;
}

/*.nb-builds  {*/
    /*font-size: 0.7em;*/
/*}*/